@import "_colors.scss";

.add_button {
  position: absolute !important;
  background-color: $main_color !important;
  bottom: 20px;
  right: 20px;

  svg {
    color: #fff;
    font-size: 2.4rem;
  }
}
