@import "/src/_colors.scss";
@import "/src/_app_viewport.scss";

.header {
  position: absolute;
  display: inline-block;
  width: $app_width;
  height: 50px;
  background-color: transparent;
  @media screen and (max-width: $app_width) {
    width: 100%;
  }
  * {
    vertical-align: top;
  }

  .menu {
    width: 50px;
    min-width: unset !important;
    height: 50px;
    padding: 12px !important;
    vertical-align: top !important;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .title {
    display: inline-block;
    width: calc(100% - 100px);
    line-height: 50px;
    margin: 0px;
    padding: 0px 12px;
    font-size: 2rem;
    font-weight: bold;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
