@import "/src/_colors.scss";
@import "/src/_app_viewport.scss";

.side_bar {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0px;
  left: 0px;
  opacity: 0;
  // left: -180px;
  transition: opacity 0.2s;
  &.show {
    display: block;
    // opacity: 1;
  }
  &.open {
    opacity: 1;
  }
}
