// @import "/src/_colors.scss";
@import "/src/_app_viewport.scss";

.popover_content {
  // > * {
  //   vertical-align: top !important;
  // }

  /* Popover contents */
  .edit_title {
    input {
      width: $app_width - 158px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4rem;
      padding: 12px;
      box-sizing: border-box;
    }
    @media screen and(max-width: $app_width) {
      input {
        width: calc(100vw - 158px);
      }
    }
  }

  .confirm_button {
    width: 50px;
    min-width: unset;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    vertical-align: top;
  }
}
