@import "_colors.scss";
@import "_app_viewport.scss";

.App {
  position: relative;
  height: 100vh;
  width: $app_width;
  // background-color: $main_color;
}

body {
  width: 600px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: $app_width) {
  body {
    width: 100%;
  }
}
