@import "_colors.scss";
@import "_app_viewport.scss";

.App {
  position: relative;
  height: 100vh;
  width: $app_width;
  // background-color: $main_color;
}

@media screen and (max-width: $app_width) {
  .App {
    width: 100%;
  }
}
