@import "_colors.scss";
@import "_app_viewport.scss";

.App {
  position: relative;
  height: 100vh;
  width: $app_width;
  // background-color: $main_color;
  overflow: hidden;

  .setting_btn {
    position: absolute;
    bottom: 8px;
    left: 188px;
    min-width: unset;
    width: 50px;
    height: 50px;
    padding: 12px;
    box-sizing: border-box;
  }
}

body {
  width: 600px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: $app_width) {
  body {
    width: 100%;
  }
}
